@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #eeeeee !important;
}

.main-content__top {

  border-bottom: 1px solid #eee;
  z-index: 1000;
  margin-right: 20px;
  margin-left: 20px;
}

.main-content__title {
  font-size: 1.4em;
  margin: 15px 15px 15px 15px;
  border-bottom: none;
}

.main-content__body {
  margin: 50px;
  
}
